%h1 User Reviews

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Review body
        %th User
    %tbody
      - @reviews.each do |review|
        %tr
          %td= review.review_body
          %td= review.user.name
