%h1 Reviews

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %tbody
      - @reviews.each do |review|
        %tr
          %td= review.user.name
          %td= review.review_body
